<div class="card submit-form">
  <div class="card-header">
    <h5 class="text-center font-weight-bold">Login</h5>
  </div>
  <div class="card-body">
    <div class="submit-form">
      <form id="formulario" [formGroup]="valForm" class="needs-validation text-sm mt-4" novalidate>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputEmail1">Email</label>
          <small class="text-danger" title="requerido"> (*)</small>
          <input class="form-control" maxlength="60" placeholder="Ingrese el email" formControlName="Email" />
        </div>
        <div class="text-danger" *ngIf="(Email?.dirty || Email?.touched) && !Email?.valid">
          <span *ngIf="Email?.hasError('required')">
            El campo es requerido.
          </span>
          <span *ngIf="Email?.hasError('email')">
            El campo debe ser un email válido.
          </span>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputEmail1">Contraseña</label>
          <small class="text-danger" title="requerido"> (*)</small>
          <input class="form-control" formControlName="Password" type="password" placeholder="ingrese la contraseña"
            maxlength="60" />
        </div>
        <div class="text-danger" *ngIf="(Password?.dirty || Password?.touched) && !Password?.valid">
          <span *ngIf="Password?.hasError('required')">
            El campo es requerido.
          </span>

        </div>
        <div class="text-sm-right mb-2">
          <button class="btn btn-link text-muted" type="button" (click)="register()">Registrarse</button>
        </div>
        <div class="text-sm-center mb-2">
          <button class="btn btn-info btn-block" type="submit" (click)="login()" [disabled]="valForm.invalid">Iniciar
            Sesión</button>
        </div>
        <div *ngIf="IsLogin">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Iniciando sesión...</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
